// Button styles
.button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: $padding-base;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darken($primary-color, 10%);
    }
    
    &--secondary {
      background-color: $secondary-color;
  
      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }
  