// Form styles
input, textarea, select {
    width: 100%;
    padding: $padding-base;
    margin-bottom: $margin-base;
    border: 1px solid #ccc;
    border-radius: 5px;
  
    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }
  
  label {
    font-weight: $font-weight-bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  